@import "vars";
@import "font";

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Firasans-Regular";
  font-weight: 400;
  font-size: 20px;
}

.container {
  max-width: 1588px;
  margin: 0 auto;
  padding: 0 30px;
}

// @media (max-width: 1025px) {
//   .container {
//     padding: 0 60px;
//   }
// }
// @media (max-width: 500px) {
//   .container {
//     padding: 0 30px;
//   }
// }




