
$white-color:#fff;
$white-color1:#f1f1f1;
$black-color:#000;
$black-color1:#121212;
$blue-color:  #2196f3;
$black-color2:rgba(18, 18, 18, 0.88);

%firasansregular-400 {
  font-family: "Firasans-Regular";
  font-weight: 400;
}
%firasansmedium-500 {
  font-family: "Firasans-Medium";
  font-weight: 500;
}

%firasanssemibold-600 {
  font-family: "Firasans-SemiBold";
  font-weight: 600;
}
/* %interbold-700 {
  font-family: "Inter-Bold";
  font-weight: 700;
}
%interbolditalic-700 {
  font-family: "Inter-BoldItalic";
  font-weight: 700;
}
%interextrabold-800 {
  font-family: "Inter-ExtraBold";
  font-weight: 800;
}
%interextrabolditalic-800 {
  font-family: "Inter-ExtraBoldItalic";
  font-weight: 800;
} */
